h1 Anton Kotenko
h3 Client-Side Web Developer

hr

h4: label(for='contacts')
    | Contacts

dl#contacts

  mixin contact(prop, val)
    dt= prop
    dd= val

  mixin contact_link(prop, href, label)
    - var label = label || href
    dt= prop
    dd: a(href=href,title=prop)= label

  mixin contact_ex(prop, href1, label1, href2, label2)
    dt= prop
    dd #[a(href=href1,title=label1)= href1]
       | &nbsp;!{label1},
       #[br]
       #[a(href=href2,title=label2)= href2]
       | &nbsp;!{label2}

  +contact(     'Phone',    '+49 (176) 84-18-1188')
  +contact_link('E-mail',   'mailto:shaman.sir@gmail.com', 'shaman.sir@gmail.com')
  +contact(     'Location', 'Munich, Germany')
  +contact_link('Web-page', 'http://shamansir.github.com')

  +contact_ex(  'Alternative Versions', 'http://www.linkedin.com/in/shamansir', '(LinkedIn)',
                                        'http://careers.stackoverflow.com/shamansir', '(Carreers@SO)')

  +contact_link('Code examples', 'http://github.com/shamansir')

  +contact_ex(  'Blog', 'http://shamansir.github.com/blog/', '(In&nbsp;English)',
                        'http://shamansir.github.com/blog/ru/', '(In&nbsp;Russian)')

  +contact_link('Skype', 'skype:shaman.sir?chat', 'shaman.sir')

h4: label(for='objective')
    | Objective

div#objective
  :markdown

    Life made me an experienced nerd — the one seeking for perfection both in
    source code and in user delight. That's why I like to participate in a
    projects where visual part (and user) matters on the same level as the
    good code. Also, I like projects which are open to users and other
    developers to improve. I like the idea of sharing code of the product.

    Of course, as a result, I like to develop everything related to User
    Interfaces or Computer Graphics. I love to code and to solve things in a
    beautiful ways. And I like start-ups, the fastest way to get new
    experience while keeping a friendly team.

    What am I looking for? Challenges.

    Things I don't like? Absence of innovation.

h4: label(for='skills')
    | Skills

dl#skills

  dt Programming Languages
  dd JavaScript, Java, Python, some functiona&lambda; expierence

  dt IDE
  dd JS: Sublime Text, WebStorm; Java: Eclipse, IntelliJ IDEA

  //- dt Extreme Programming
  //- dd Test-Driven Development, Pair Programming

  dt UI Frameworks
  dd GWT, JQuery#[sup (I prefer Vanilla JS though)], ...

  dt Version-Control
  dd Git, any except SVN/CVS

  dt Bugtracking Systems
  dd Trac, YouTrack, Wolkflowy/Checkvist

  dt Operating Systems
  dd MacOS, Ubuntu

  dt Databases
  dd SQLite, PostgreSQL

  dt Other
  dd HTML5, Processing

  dt Things I forgot since time passed by
  dd C++, Delphi/C++ Builder, Apache Wicket, Spring/Hibernate, XSLT, 3D Modelling, Perl

  dt Things I'd like to try
  dd WebGL, Mozilla Rust, Adruino/RaspeberryPi, 3D

  // dt Web-technologies and W3C standards
  // dd HTML5, HTML5 Canvas, Web-standard CSS/XHTML, JavaScript(+AJAX)/DOM, XML

h4: label(for='experience')
    | Professional Experience

dl#experience

  dt Animatron (affiliated with JetBrains a.k.a. IntelliJ Labs) (06/2011&mdash;current)
  dd: dl

    dt Where
    dd Odessa, Ukraine; Munich, Germany; HQ @ Boston MA, USA.

    dt Position
    dd JavaScript / GWT Developer

    dt Product Website
    dd
      a(href='http://www.animatron.com/') http://www.animatron.com/,
      | &nbsp;
      a(href='http://editor.animatron.com/') http://editor.animatron.com/
      | ;&nbsp;We're in beta &amp; site design will evolve;

    dt Company Specialization
    dd HTML5 Animation Tool

    dt Experience
    dd
      :markdown

        In progress. I am responsible for JavaScript engine for this tool, which
        is being developed and accesible at [http://animatron.com/player]().
        It's source is open and available at [http://github.com/Animatron/player]().
        In some amount I am responsible for a tiny piece of GWT code, and a bit of UI decisions.

  dt iPark Ventures (04/2010&mdash;06/2011)
  dd: dl

    dt Where
    dd Odessa, Ukraine

    dt Position
    dd J2EE/GWT Developer

    dt Company Website
    dd: a(href='http://iparkcorp.com',title='iPark ventures') http://iparkcorp.com

    dt Company Specialization
    dd IT Projects

    dt Projects
    dd
      | Experika:&nbsp;
      a(href='http://experika.com',title='Experika') http://experika.com

    dt Experience
    dd
      :markdown

        GWT, two of us has developed client-side architecture. We worked with
        mvp4g, built custom components, and we communicated with Google
        AppEngine server-side, another three guys developed. Though site
        changed a lot from these times.


