h1 Anton Kotenko
h3 JavaScript &amp; Java Frontend Developer

hr

//- TODO: a short version for print? Or make everything compact

// ============================================ CONTACTS ===========================================

h4: label(for='contacts')
    | Contacts

dl#contacts

  //- FIXME: remove dl/dd tags from mixing, use mixin only for dd content
  mixin contact(prop, val)
    dt= prop
    dd= val

  mixin contact_link(prop, href, label)
    - var label = label || href
    dt= prop
    dd: a(href=href,title=prop)= label

  mixin contact_ex(prop, href1, label1, href2, label2)
    dt= prop
    dd #[a(href=href1,title=label1)= href1]
       = ' '
       | (!{label1}),
       #[br]
       #[a(href=href2,title=label2)= href2]
       = ' '
       | (!{label2})

  +contact(     'Phone',    '+49 (176) 84-18-1188')
  +contact_link('E-mail',   'mailto:shaman.sir@gmail.com', 'shaman.sir@gmail.com')
  +contact(     'Location', 'Munich, Germany')
  +contact_link('Web-page', 'http://shamansir.github.io')

  +contact_ex(  'Alternative Versions', 'http://www.linkedin.com/in/shamansir', 'LinkedIn',
                                        'http://careers.stackoverflow.com/shamansir', 'Carreers@SO')

  +contact_link('Code examples', 'http://github.com/shamansir')

  +contact_ex(  'Blog', 'http://shamansir.github.com/blog/', 'In&nbsp;English',
                        'http://shamansir.github.com/blog/ru/', 'In&nbsp;Russian')

  +contact_link('Skype', 'skype:shaman.sir?chat', 'shaman.sir')

// ============================================ OBJECTIVE ==========================================

h4: label(for='objective')
    | Objective

div#objective
  :markdown
    Life, books and bytes made me an experienced nerd—the one seeking for perfection 
    both in source code and in user delight. That's why I like to participate in a
    projects where visual part (and user) matters on the same level as the
    good code. Also, I like projects which are open to users and other
    developers to improve. And, I love to code and to solve things in a
    beautiful ways.

    Of course, as a result, I like to develop everything related to User
    Interfaces or Digital Art or any Computer Graphics. Seems, everything from
    3D to typography is in my circle of interest.

    And I like start-ups, the fastest way to get new experience while keeping a friendly team.

    What am I looking for? Challenges.

    Things I don't like? Absence of innovation.

// ============================================ RECAP ==============================================

//- TODO: insert some charts here?

h4: label(for='recap')
    | Recap

ul#recap

  li 12 Years Programming Experience (since April 2004)
  li 10 Years in Web Development, among them
  li 8 Companies, incl. Nikon &amp; JetBrains affilates
  li Languages: English, Russian
  li Worked in 3 cities: Saint-Petersburg, Odessa, Munich

// ============================================ SKILLS =============================================

h4: label(for='skills')
    | Skills

dl#skills

  dt Programming Languages
  dd JavaScript, Java, Python, functiona&lambda; expierence#[sup (played with (lisp), Rust, Elm...)]

  dt IDE
  dd JS: Atom, Sublime Text, WebStorm; Java: Eclipse, IntelliJ IDEA

  //- dt Extreme Programming
  //- dd Test-Driven Development, Pair Programming

  dt UI Frameworks
  dd GWT, JQuery#[sup (I prefer Vanilla JS though)], ...

  dt Version-Control
  dd Git, any except SVN/CVS

  dt Bugtracking Systems
  dd Trac, YouTrack, Wolkflowy/Checkvist

  dt Operating Systems
  dd MacOS, Ubuntu

  dt Databases
  dd SQLite, PostgreSQL, Cayley

  dt Other
  dd HTML5, d3.js, Processing, React

  dt Things I forgot since time passed by
  dd C++, Delphi/C++ Builder, Apache Wicket, Spring/Hibernate, XSLT, 3D Modelling, Perl

  dt Things I'd like to try
  dd WebGL, more Rust, Elm, 3D, Adruino/RaspeberryPi

  // dt Web-technologies and W3C standards
  // dd HTML5, HTML5 Canvas, Web-standard CSS/XHTML, JavaScript(+AJAX)/DOM, XML

// ============================================ EXPERIENCE =========================================

h4: label(for='experience')
    | Professional Experience

dl#experience

    dt JetBrains GmbH (06/2016 &mdash; current)
    dd: dl

      dt Where
      dd Munich, Germany

      dt Position
      dd Front-End Developer

      dt Product Website
      dd
        a(href='http://www.jetbrains.com/') http://www.jetbrains.com/

      dt Company Specialization
      dd IDEs and a lot of other useful things

      dt Experience
      dd
        :markdown
          In progress.

  dt Animatron (aff. with JetBrains a.k.a. IntelliJ Labs) (06/2011 &mdash; 05/2016, almost 5 years)
  dd: dl

    dt Where
    dd Odessa, Ukraine &rarr; Munich, Germany; HQ @ Boston MA, USA.

    dt Position
    dd JavaScript / GWT Developer

    dt Product Website
    dd
      a(href='http://www.animatron.com/') http://www.animatron.com/,
      = ' '
      a(href='http://editor.animatron.com/') http://editor.animatron.com/

    dt Company Specialization
    dd HTML5 Animation Tool

    dt Experience
    dd
      :markdown
        I was responsible for JavaScript engine for this tool, which
        is being developed and accesible at [http://animatron.com/player](http://animatron.com/player).
        Its source is open and available at [http://github.com/Animatron/player](http://github.com/Animatron/player).
        In some amount I was responsible for a tiny piece of GWT code, and a bit of UI decisions.

  dt iPark Ventures (04/2010 &mdash; 06/2011, ~1 year)
  dd: dl

    dt Where
    dd Odessa, Ukraine

    dt Position
    dd J2EE / GWT Developer

    dt Company Website
    dd: a(href='http://iparkcorp.com',title='iPark ventures') http://iparkcorp.com

    dt Company Specialization
    dd Web Projects

    dt Projects
    dd
      | Experika:&nbsp;
      a(href='http://experika.com',title='Experika') http://experika.com

    dt Experience
    dd
      :markdown
        GWT, two of us has developed client-side architecture. We worked with
        mvp4g, built custom components, and we communicated with Google
        AppEngine server-side, another three guys developed. Though site
        changed a lot from these times.

  dt Exectum LLC (09/2009 &mdash; 02/2010, 6 months)
  dd: dl

    dt Where
    dd Saint-Petersburg, Russia

    dt Position
    dd J2EE / JavaScript Developer

    dt Company Website
    dd: a(href='http://exectum.com',title='Exectum') http://exectum.com

    dt Company Specialization
    dd Outsourcing

    dt Projects
    dd: ul
      li Web-oriented billing engine
      li Internal ExtJS-driven service

    dt Experience
    dd
      :markdown
        Java RMI, Authorization techniques, Web-application built with
        different modules, communicating using RMI and XML-protcol.
        Additional Spring framework usage experience.

  dt [Freelance] (05/2009 &mdash; 06/2009, 09/2009)
  dd: dl

    dt Projects
    dd
      :markdown
        Several client/server projects, two of them: Chat client connector
        interface for Google Wave FedOne Server (Java/GWT/Reverse
        AJAX(DWR)/Javascript/JQuery/XML/XHTML), Tiny Twitter-related project
        with OAuth usage.

  dt Sea Project (08/2009, 1 month)
  dd: dl

    dt Where
    dd Saint-Petersburg, Russia

    dt Position
    dd JavaScript Developer

    dt Company Website
    dd: a(href='http://seaproject.ru',title='SeaProject') http://seaproject.ru

    dt Company Specialization
    dd Sea Machinery-Related Projects

    dt Projects
    dd Interactive Electronic Technical Knowledge Base

    dt Experience
    dd XML data transfer from server to client with Java and JavaScript

  dt Piclinq Rus / Fotonation Inc. (07/2007 &mdash; 05/2009, ~2 years)
  dd: dl

    dt Where
    dd Saint-Petersburg, Russia

    dt Position
    dd Web UI Developer (Java, JS)

    dt Company Website
    dd: a(href='http://piclinq.com',title='PicLinq') http://piclinq.com

    dt Company Specialization
    dd Development of Multimedia Web Projects for Nikon Corp.

    dt Projects
    dd #[a(href='http://mypicturetown.com',title='myPicturetown') myPictureTown], [+ Internal prototype project]

    dt Experience
    dd
      :markdown
        Web UI Development (Apache Wicket). Development of the specific
        dynamic UI components (Java, Pure & JQuery-driven Javascript) for the
        integration and re-usage (at server-side and at client-side), meant to
        work fast. Cross-browser development. Communication layer between Java
        and JavaScript. Developing a project for the huge world-wide-known
        company (Nikon). Ideas in usability. More planning and modelling
        experience. Mantis, PostgreSQL.

  dt FK LTD (11/2006 &mdash; 06/2007, 8 months)
  dd: dl

    dt Where
    dd Saint-Petersburg, Russia

    dt Position
    dd Web Developer (JS)

    dt Company Specialization
    dd Web projects development

    dt Projects
    dd Several small Web'n'AJAX-based projects

    dt Experience
    dd
      :markdown
        Test-Driven Development, Design Patterns usage; Agile Development.
        Using Linux system for development. UNIX administration experience.
        Project Design. Additional JavaScript experience.

  dt EmDev LLC (05/2005 &mdash; 10/2006, 1.5 years)
  dd: dl

    dt Where
    dd Saint-Petersburg, Russia

    dt Company Website
    dd: a(href='http://emdev.ru',title='EmDev') http://emdev.ru

    dt Position
    dd Web Developer (Java, JS, Delphi, Python)

    dt Company Specialization
    dd IT-Outsourcing

    dt Projects participated in
    dd: ul
      li UnlockAustin: #[a(href='http://unlockaustin.com') unlockaustin.com].
      li Delphi VCL Component for Stock Monitoring using #[a(href='http://en.wikipedia.org/wiki/Treemap') Treemap] for German client.
      li BPM-oriented project for German clients

    dt Experience
    dd
      :markdown
        J2EE (JSP/Servlets). Frameworks (Spring, Struts, Hibernate) / MVC
        concepts. Development in a team. Using version control and project
        management systems. Developed first complex UI control in Delphi
        (Treemap-based one, meant to communicate with server to get actual
        data). Integration in the big working BPM project, meant to be
        accurate, seamless and rapid. Pair Programming. Concept of plugins
        development (an "egg" for Trac and a small plugin for Eclipse).
        Agreements with English-speaking clients.

  dt VNIIOkeangeologiya (04/2004 &mdash; 03/2005, ~1 year)
  dd: dl

    dt Where
    dd Saint-Petersburg, Russia; Crimea, Ukraine; Xiao Nang Hai, China;

    dt Company Website
    dd: a(href='http://vniio.ru',title='VNIIOkeangeologiya') http://www.vniio.ru

    dt Company Specialization
    dd Scientific organization, Geophysics

    dt Projects
    dd: ul
      li Data processing applications driven by Delphi/C++;
      li Flash-based animation for conferences;
      li Applications meant to be embedded in scientific equipment;

    dt Experience
    dd
      :markdown
        Scientific and data processing applications development, emdedded and
        not. Foreign communication skills. Field geophysical monitoring.

// ============================================ EDUCATION ==========================================

h4: label(for='education')
    | Education (not finished any High school)

dl#education

  dt Saint-Petersburg Electrotechnical University 'LETI' (Sankt-Peterburgskij Gosudarstvennyj Elektrotehniceskij Universitet)
  dd: dl
    dt Started/Left
    dd 2007/2009

    dt Subject
    dd Physics, Electronics

    dt Department
    dd Open Faculty, Night Education

  dt Saint-Petersburg College of Instrument Making (SPb IFMO Department of High Education)
  dd: dl
    dt Started/Left
    dd 2002/2004

    dt Subject
    dd 2203/Program Development

// ============================================ HOBBIES ============================================

h4: label(for='hobbies')
    | Hobbies

ul#hobbies
  li Biking
  li Exploring cities
  li Modern arts / Graffiti
  li CG / Typography
  li Composing hard-to-listen electronic music
  li Geeking geeky things
  li Indie games
  li Japanese language, despite it's banal
  li Books &amp; Comix

// ============================================ P.QUALITIES ========================================

h4: label(for='qualities')
    | Personal Qualities

ul#qualities
  li Accurate
  li Responsible
  li Honest
  li Communicative
  li Creative

// ============================================ LANGUAGES ==========================================

h4: label(for='languages')
    | Languages

ul#languages
  li English, Upper Intermediate
  li Russian, Native
  li Still failing in German :|

// ============================================ PERFORMANCES =======================================

h4: label(for='perfomances')
    | Performances

ul#performances

  mixin performance(what, where, year, town, kind, language)
    a(href=what[1],title=what[0])!= what[0]
    | #{' '}for#{' '}
    a(href=where[1],title=where[0])!= where[0]
    | #{year} @ #{town}, #{kind} in #{language}

  li: +performance(['GWT &amp; mvp4g Web Development', 'http://vimeo.com/26357352'],
                   ['Application Developer Days', 'http://addconf.ru/add_2011'],
                   '\'12', 'Saint-Petersburg', 'video', 'Russian')
  li: +performance(['The Real JavaScript', 'http://vimeo.com/33393795'],
                   ['Web Standards Days', 'http://webstandardsdays.ru/2011/10/22/'],
                   '\'11', 'Kiyv', 'video', 'Russian')
  li: +performance(['Development with Fluxus', 'http://vimeo.com/23468113'],
                   ['Application Developer Days', 'http://addconf.ru/add_2011'],
                   '\'11', 'Saint-Petersburg', 'video', 'Russian')
  li: +performance(['Mastering Functional JavaScript', 'http://speakerdeck.com/shamansir/mastering-functional-javascript'],
                   ['Animatron', 'http://animatron.com'],
                   '\'12', 'Boston', 'slides', 'English')
  li: +performance(['Animatron Player API in Details', 'https://speakerdeck.com/shamansir/animatron-player-api-in-details-v3'],
                   ['Animatron', 'http://animatron.com'],
                   '\'13', 'Boston', 'slides', 'English')
  li: +performance(['Animatron Player API in Details', 'https://vimeo.com/79683081'],
                   ['Ultracode München', 'http://lanyrd.com/2013/ultracode-meetup-4/'],
                   '\'13', 'Munich', 'video', 'English')

// ============================================ INFO ===============================================

h4: label(for='personal-info')
    | Personal Info

dl#personal-info

  dt Age
  dd 32

  dt Marital Status
  dd Married

  dt Children
  dd None

  dt Born
  dd Saint-Petersburg, Russia

  dt Lived in
  dd: ul
    li Saint-Petersburg, Russia (24 years)
    li Odessa, Ukraine (2.5 years)
    li Munich, Germany (3.5+ years)

// ============================================ BOOKS ==============================================

h4: label(for='favorite-books')
    | Books, I'm inspired with

ul#favorite-books

  mixin book(title, author)
    !{title}, by #[span.author !{author}]

  li: +book('Dune', 'Frank Herbert')
  li: +book('All Tomorrow\'s Parties', 'William Gibson')
  // li: +book('Watchmen', 'Alan Moore &amp; David Gibbons')
  li: +book('Land of Lisp', 'Conrad Barski')
  li: +book('Designed for Use', 'Lukas Mathis')
  // li: +book('3D Modelling and Surfacing', 'Bill Fleming')
  li: +book('Advanced 3D Photorealism Techniques', 'Bill Fleming')
  li: +book('3D Graphics &amp; Animation', 'Mark Giambruno')
  li: +book('Programming Pearls', 'Jon Bentley')
  li: +book('The Nature of Code', 'Daniel Shiffman')
  li: +book('Tricks of the 3D Game Programming Gurus', 'Andre LaMothé')
  li: +book('Programming Perl', 'Larry Wall, Tom Christiansen, Jon Orwant')
  li: +book('The Element of Typographic Style', 'Robert Bringhurst')
  li: +book('The Animator\'s Survival Kit', 'Richard Williams')
  li: +book('Designing with Web Standards', 'Jeffrey Zeldman')  

// ============================================ RECOMMENDATIONS ====================================

h4: label(for='recommendations')
    | Recommendations

ul#recommendations

  mixin recommendation(content, author, url)
    - var url = url || 'http://www.linkedin.com/in/shamansir'
    blockquote(cite=url)
      p
        | &ldquo;
        = content
        | &rdquo;
      p: cite=author

  li: +recommendation('Anton is a very talented developer who developed a lot of '
      + 'Ajax-based Web UI as well as server-side Java code for myPictureTown '
      + 'service. His knowledge of web technologies and languages, such as '
      + 'Javascript+Ajax, HTML, CSS are on the expert level. He is a reliable, hard-'
      + 'working professional, and I recommend him without reservations.',
      'Boris Berkman, Senior Software Architect, Piclinq (prior to spin-off - FotoNation)')

  li: +recommendation('Anton honest, responsible, executive and skilled programmer.',
      'Andrey Nikankin, Technical Director, Piclinq Rus (FotoNation Rus)')

  li: +recommendation('I know Anton as a brilliant Javascript programmer with strong '
      + 'understanding of the most advanced concepts of this language. His Java '
      + 'skills are also allow him to write good Java code. It is a pleasure to '
      + 'work with such talented professional.',
      'Sergey Kuznetsov, Software Developer, Piclinq')

div#footer

  p End.

  hr

  p Anton Kotenko, 2016, March
