ul.sources-list
  li: a(href='#',title='Download')
    img(src='./resources/icons/phone.svg')
  li: a(href='#',title='Download')
    img(src='./resources/icons/phone.svg')

ul.segment-inner.icon-list

  mixin contact_item(icon_id, href, text)
    - var prefix  = '<span class=\'accent\'>';
    - var postfix = '</span>';
    - var link_html = text.replace('[', prefix).replace(']', postfix);
    - var img_src = './resources/icons/' + icon_id + '.svg';
    a(href=href,title=text)
      img(src=img_src)
      span!= link_html

  li: +contact_item('mail-2', '#', '[shaman.sir]@gmail.com')
  li: +contact_item('social/twitter', '#', 'twitter.com/[shaman_sir]')
  li: +contact_item('social/skype', '#', 'skype://[shaman.sir]')
  li: +contact_item('phone', '#', '+49 (146) 8418-11-88')
  li: +contact_item('mail-2', '#', '[shaman.sir.de]@gmail.com')
  li: a(href=href,title='Home Address')
      img(src='./resources/icons/location.svg')
      p.address
        | Simeonistraße 6, 4-OG
        | 80637 München
        | Deutchland
