ul.sources-list

  mixin source_item(icon_id, href, text)
    - var img_src = './resources/icons/' + icon_id + '.svg';
    a(href=href,title=text)
      img(src=img_src)

  li: +source_item('download', '#', 'Download/View')
  li: +source_item('print', '#', 'Print')

div.segment-inner
  //- include:md ../cv.md
  //- include ../cv_body.jade

  h3 Recap

  ul#recap
    mixin recap_item(text)
      - var prefix  = '<span class=\'accent\'>';
      - var postfix = '</span>';
      - var prefix_re = new RegExp('\\[', 'g');
      - var postfix_re = new RegExp('\\]', 'g');
      - var text_html = text.replace(prefix_re, prefix).replace(postfix_re, postfix);
      != text_html

    li: +recap_item('[10+ Years] in Programming (since April 2004)')
    li: +recap_item('[8 Years] in Web Development, among them')
    li: +recap_item('[8 Companies], incl. Nikon &amp; JetBrains affilates')
    li: +recap_item('Longest time in one company: [35&plus; months]')
    li: +recap_item('Average time in one company: [14 months]')
    li: +recap_item('Languages: [English], [Russian]')
    // li Worked in 3 cities: Saint-Petersburg, Odessa, Munich
    // li Been in business trips to China, Boston, Lviv

  h3 Expertise

  ul.tag-list

    mixin expertise_item(href, text)
      a(href=href,title=text)!= text

    li: +expertise_item('#', 'Java')
    li: +expertise_item('#', 'JavaScript')
    li: +expertise_item('#', 'GWT')
    li: +expertise_item('#', 'mvp4g')
    li: +expertise_item('#', 'HTML5')
    li: +expertise_item('#', 'canvas')
    li: +expertise_item('#', 'CSS3')
    li: +expertise_item('#', 'XSLT')
    li: +expertise_item('#', '3D')
    li: +expertise_item('#', 'Git')
    //- li: +expertise_item('#', 'Sublime Text')
    //- li: +expertise_item('#', 'Processing')

  //- h3 Objective

  //-   :markdown

  //-     Life made me an experienced nerd — the one seeking for perfection both in
  //-     source code and in user delight. That's why I like to participate in a
  //-     projects where visual part (and user) matters on the same level as the
  //-     good code. Also, I like projects which are open to users and other
  //-     developers to improve. I like the idea of sharing code of the product.
  //-     (Though, in modern times, it's more common than it was before, and I'm glad about
  //-     this fact). And, I love to code and to solve things in a
  //-     beautiful ways.

  //-     Of course, as a result, I like to develop everything related to User
  //-     Interfaces or Digital Art or any Computer Graphics. Seems, everything from
  //-     3D to typography is in my circle of interest.

  //-     And I like start-ups, the fastest way to get a new experience while keeping a friendly team.

  //-     What am I looking for? Challenges.

  //-     Things I don't like? Absence of innovation.

  h3 Experience

  dl

    mixin experience_item(company_name, company_href, title, project_name, project_href, start_date, end_date, months)
      if company_href
        dt: a(href=company_href,title=company_name)= company_name
      else
        dt= company_name

      dd
        span.xp-title= title
        if project_href
          span.xp-project: a(href=project_href,title=project_name)= project_name
        else if project_name
          span.xp-project= project_name

        span.xp-date
          span.xp-start= start_date
          | —
          span.xp-end= end_date

        | (
        span.xp-month #{months}&nbsp;months
        | )

    +experience_item('Animatron', 'http://animatron.com', 'JavaScript Developer',
                     'Animatron Player', 'http://animatron.com/player',
                     '06/2011', 'current', '35+')
    +experience_item('iPark Ventures', 'http://iparkcorp.com', 'GWT Developer',
                     'Experika', 'http://experika.com',
                     '04/2010', '06/2011', '14')
    +experience_item('Exectum LLC', 'http://exectum.com', 'Java/JS Developer',
                     '', '',
                     '09/2009', '02/2010', '5')
    +experience_item('Sea Project', 'http://seaproject.ru', 'JavaScript Developer',
                     'IETKB', '',
                     '08/2009', '09/2009', '1')
    +experience_item('Piclinq/Fotonation', 'http://piclinq.com', 'JavaScript Developer',
                     'myPictureTown', 'http://mypicturetown.com',
                     '07/2007', '05/2009', '22')
    +experience_item('FK LTD', '', 'JavaScript Developer',
                     '', '',
                     '11/2006', '06/2007', '7')
    +experience_item('EmDev LLC', 'http://emdev.ru', 'Java & JavaScript Developer',
                     'UnlockAustin', 'http://unlockaustin.com/',
                     '05/2005', '10/2006', '17')
    +experience_item('VNIIOkeangeologiya', 'http://vniio.ru', 'Delphi Developer',
                     '', '',
                     '04/2004', '03/2005', '11')

  h3 Alternate versions

  ul.icon-list

    mixin cv_item(icon_id, href, text)
      - var img_src = './resources/icons/' + icon_id + '.svg';
      a(href=href,title=text)
        img(src=img_src)
        span!= text

    li: +cv_item('social/stackoverflow', '#', '@ Careers.StackOverflow')
    li: +cv_item('social/linkedin', '#', '@ LinkedIn')
