ul.source-list

  mixin source_item(icon_id, href, text)
    - var img_src = './resources/icons/' + icon_id + '.svg';
    a(href=href,title=text)
      img(src=img_src)

  li: +source_item('listen', 'http://soundcloud.com/shamansir/tracks', 'Tracks')

dl.marker-list

  mixin album_item(alb_img, alb_name, alb_id, alb_year, songs)
    - var alb_href = 'http://soundcloud.com/shamansir/sets/' + alb_id;
    - var alb_info = alb_name + ' (' + alb_year + ')';
    dt
      a(href=alb_href,title=alb_info)
        img(src=alb_img,title=alb_info)
        span!= alb_info
    dd: ul
      - each song in songs
        li= song

  +album_item('', 'Back EP', 'back', 2013,
              [  'Apollo', 'Monad (Edit\'n\'Cut)', 'Bebop',
                 'Floyd Experiment', 'Blood (BF Contest)' ])
  +album_item('', 'Back EP (B-sides)', 'back-b-sides', 2013,
              [  'Monad. Tryptich', 'Floyd Experiment (Edit)',
                 'Intrincado', 'Winter \'mphony', 'Winter \'mphony II',
                 'Bleed (Long)' ])
  +album_item('', 'nanodisc', 'nanodisc', 2005,
              [  'intro', 'beijing', 'quadline',
                 'nothin original', 'intro wow' ])
  +album_item('', 'sch0ck', 'sch0ck', 2003,
              [ 'Intro', '563rd Dimension Cross', 'Loop Mode',
                'Stars', 'Da Club Rel@xin', 'Dead Fish',
                'coolah (Cold Juice)', 'Coma', 'King of the Sleeptime',
                'King of the Dreams', 'White Noise', '4get \'bout it',
                'Samplicity Funk', 'Madness', 'Whadda Hell', 'ReB00t',
                'matriX', 'MIDI Man', 'pure rave stage', 'outro' ])




