link(rel='shortcut icon', href='./favicon.png', type='image/png')
//- link(rel='profile',href='http://microformats.org/profile/hcard')

- var m_title = 'shaman.sir · homepage';
- var m_image = 'http://shamansir.github.io/shamansir.jpg';
- var m_url = 'http://shamansir.github.io/shamansir.jpg';
- var m_description = 'Ulric Wilfred a.k.a. shaman.sir is a geek and a web-developer, who is mostly interested in Computer Graphics. Also—he knows JavaScript, at least a bit, and as far as we know from rumors.';
- var m_keywords = 'shamansir,shaman.sir,Ulric Wilfred,Anton Kotenko';

meta(property='description', content=m_description)
meta(property='keywords', content=m_keywords)

meta(property='og:type', content='website')
meta(property='og:title', content=m_title)
meta(property='og:site_name', content=m_title)
meta(property='og:url', content=m_url)
meta(property='og:description', content=m_description)
meta(property='og:image', content=m_image)

meta(property='twitter:card', content='summary')
meta(property='twitter:title', content=m_title)
meta(property='twitter:description', content=m_description)
meta(property='twitter:image:src', content=m_image)
meta(property='twitter:url', content=m_url)
meta(property='twitter:creator', content='@shaman_sir')

// meta(property='twitter:image:src', content='http://animatron.com/assets/images/landing/logo.png')

